{% extends 'layout.html.twig' %}

{% block layout_title %}Home{% endblock %}

{% block content %}

<div class="example-wrapper">


    <!-- Displays the image from the public folder. The is in public/assets/images/chef_logo.png. The image is placed in the center of the page. The image is displayed at 400px height and 400px width. The image has a marging of 50 px at the top-->
<img src="{{ asset('assets/images/chef_logo.png') }}" alt="Chef Logo" style="display: block; margin: 250px auto; height: 400px; width: 400px;">













</div>
{% endblock %}
